<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="RomDirectoryPath" value="C:\git\jmcd\SI8080"/>
    <add key="SoundDirectoryPath" value="C:\git\jmcd\SI8080\WindowsFormsIO\Sounds"/>
  </appSettings>
</configuration>